@model TerrariaDB.ViewModels.Terraria.Boss.BossDeleteViewModel

@{
    ViewData["Title"] = "Delete Boss";
}

<h1>Delete Boss</h1>

<a asp-action="Index">Back</a>

<div>
    <div>
        <div style="display: flex; flex-direction: column;">
            <img src="@Model.Sprite" alt="@Model.Name" />
            <span>@Model.Name</span>
        </div>
    </div>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="BossName" />
        <button type="submit">Confirm</button>
    </form>
</div>
