@model IEnumerable<TerrariaDB.ViewModels.Terraria.BossIndexViewModel>

@{
    ViewData["Title"] = "Bosses";
}

<h1>Bosses</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New Boss</a>
    </p>
}

<table>
    @foreach (var boss in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(boss.Sprite))
                {
                    <img src="@boss.Sprite" alt="@boss.BossName" />
                }
            </td>
            <td>@boss.BossName</td>
            <td>
                <a asp-action="Details" asp-route-id="@boss.BossName">Details</a>
                <partial name="_EditDeleteButtons"
                    model="new { Id = boss.BossName, CanEdit = boss.CanEdit, CanDelete = boss.CanDelete }" />
            </td>
        </tr>
    }
</table>