@model TerrariaDB.ViewModels.Terraria.CurrencyType.CurrencyTypeCreateViewModel

@{
    ViewData["Title"] = "Create Currency Type";
}

<h1>Create Currency Type</h1>

<a asp-action="Index">Back</a>

<form asp-action="Create" method="post">
    <div>
        <div>
            <label>Name:</label>
            <input asp-for="CurrencyName" type="text" required/>
        </div>
    </div>

    <button type="submit">Save</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
