@model TerrariaDB.ViewModels.Terraria.CurrencyType.CurrencyTypeIndexViewModel

@{
    ViewData["Title"] = "Currency Types";
}

<h1>Currency Types</h1>

<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create</a>
    }
</div>

<div>
    <table>
        @foreach (var currencyName in Model.CurrencyNames)
        {
            <tr>
                <td>
                    <span>@currencyName</span>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <div style="display: flex; flex-direction: row;">
                            <a asp-action="Edit" asp-route-id="@currencyName">Edit</a>
                            <a asp-action="Delete" asp-route-id="@currencyName">Delete</a>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
</div>
