@model TerrariaDB.ViewModels.Terraria.Enemy.EnemyCreateViewModel

<h1>Create Enemy</h1>

<a asp-action="Index">Back</a>

<form asp-action="Create" method="post">
    <div>
        <div>
            <label>Name:</label>
            <input asp-for="Name" type="text" maxlength="50" required />
        </div>
    </div>

    <div>
        <div>
            <label>Description:</label>
            <input asp-for="Description" type="text" maxlength="200" />
        </div>
    </div>

    <div>
        <div style="display: flex; flex-direction: row;">
            @for (int i = 0; i < 3; i++)
            {
                <div>
                    <div>
                        <label>Sprite:</label>
                        <input asp-for="Stages[i].Sprite" type="text" maxlength="500" />
                    </div>
                    <div>
                        <label>HP:</label>
                        <input asp-for="Stages[i].Hp" type="number" min="0" max="30000" />
                    </div>
                    <div>
                        <label>Defense:</label>
                        <input asp-for="Stages[i].Defense" type="number" min="0" max="10000" />
                    </div>
                    <div>
                        <label>Game ID:</label>
                        <input asp-for="Stages[i].EntityId" type="number" min="-500" max="1000" />
                    </div>
                    <div>
                        <label>Contact Damage:</label>
                        <input asp-for="Stages[i].ContactDamage" type="number" min="0" max="1000" />
                    </div>
                    <div>
                        <label>Drop</label>
                        <div style="display: flex; flex-direction: row;">
                            @for (int j = 0; j < 5; j++)
                            {
                                <div>
                                    <select asp-for="Stages[i].Drops[j].ItemId" asp-items="Model.AvailableItems"></select>
                                    <input asp-for="Stages[i].Drops[j].Quantity" type="number" min="1" max="50" />
                                    <button type="button">Clear</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <button type="submit">Save</button>
</form>
