@model TerrariaDB.ViewModels.Terraria.Enemy.EnemyDeleteViewModel

@{
    ViewData["Title"] = "Delete Enemy";
}

<h1>Delete Enemy</h1>

<a asp-action="Index">Back</a>

<div>
    <div>
        <div style="display: flex; flex-direction: column;">
            <img src="@Model.Sprite"/>
            <span>@Model.Name</span>
        </div>
    </div>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="EnemyId" />
        <button type="submit">Confirm</button>
    </form>
</div>
