@model TerrariaDB.ViewModels.Terraria.CraftingStation.CraftingStationEditViewModel

<h1>Edit Crafting Station</h1>

<a asp-action="Index">Back</a>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="OriginalCraftingStationName" />

    <div>
        <div>
            <label>Name:</label>
            <input asp-for="CraftingStationName" type="text" maxlength="50" required />
        </div>
    </div>

    <div>
        <label>Represented by</label>
        <select asp-for="SelectedItemId" asp-items="Model.AvailableItems" required></select>
    </div>

    <button type="submit">Save</button>
</form>
