@model TerrariaDB.ViewModels.Terraria.Item.ItemDeleteViewModel

@{
    ViewData["Title"] = "Delete Item";
}

<h1>Delete Item</h1>

<a asp-action="Index">Back</a>

<div>
    <div>
        <div style="display: flex; flex-direction: column;">
            <img src="@Model.Sprite" alt="@Model.Name" />
            <span>@Model.Name</span>
        </div>
    </div>

    @if (Model.HasRelatedRecipes)
    {
        <div>All related recipes will be deleted!</div>
    }

    @if (Model.IsLastCraftingStationItem)
    {
        <div>This item can't be deleted because it is the last item related to a crafting station!</div>
    }

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ItemId" />
        <button type="submit" disabled="@Model.IsLastCraftingStationItem">Confirm</button>
    </form>
</div>
