@model TerrariaDB.ViewModels.Terraria.Recipe.RecipeCreateViewModel

<h1>Create Recipe</h1>

<a asp-action="Index">Back</a>

<form asp-action="Create" method="post">
    <div>
        <div>
            <label>Result Item:</label>
            <select asp-for="ResultItemId" asp-items="Model.AvailableItems" required></select>
        </div>
    </div>

    <div>
        <div>
            <label>Result quantity:</label>
            <input asp-for="ResultItemQuantity" type="number" min="1" max="100" required />
        </div>
    </div>

    <div>
        <div>
            <label>Crafting Station:</label>
            <select asp-for="CraftingStationName" asp-items="Model.AvailableCraftingStations"></select>
        </div>
    </div>

    <div>
        <label>Ingredients</label>
        <div style="display: flex; flex-direction: row;">
            <div>
                <select asp-for="Ingredients[0].ItemId" asp-items="Model.AvailableItems" required></select>
                <input asp-for="Ingredients[0].Quantity" type="number" min="1" max="10000" required />
            </div>

            @for (int i = 1; i < 8; i++)
            {
                <div>
                    <select asp-for="Ingredients[i].ItemId" asp-items="Model.AvailableItems"></select>
                    <input asp-for="Ingredients[i].Quantity" type="number" min="1" max="10000" />
                    <button type="button">Clear</button>
                </div>
            }
        </div>
    </div>

    <button type="submit">Save</button>
</form>
