@model TerrariaDB.ViewModels.Terraria.Recipe.RecipeDeleteViewModel

@{
    ViewData["Title"] = "Delete Recipe";
}

<h1>Delete Recipe</h1>

<a asp-action="Index">Back</a>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="RecipeId" />
    <button type="submit">Confirm</button>
</form>
