@model TerrariaDB.ViewModels.Terraria.TradeType.TradeTypeIndexViewModel

@{
    ViewData["Title"] = "Trade Types";
}

<h1>Trade Types</h1>

<div>
    <a asp-action="Index">Back</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create</a>
    }
</div>

<div>
    <table>
        @foreach (var tradeTypeName in Model.TradeTypeNames)
        {
            <tr>
                <td>
                    <span>@tradeTypeName</span>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <div style="display: flex; flex-direction: row;">
                            <a asp-action="Edit" asp-route-id="@tradeTypeName">Edit</a>
                            <a asp-action="Delete" asp-route-id="@tradeTypeName">Delete</a>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
</div>
